login {
    background-image: url('./img/login_background.png');
    background-size: cover;
    background-color: rgba(18, 30, 46, 0.95);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;

    padding: 50px;
    .login-content {
        flex: 1;
    }
}
.login-header {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    font-size: 20px;
    letter-spacing: 0.1px;
    color: #ffffff;

    img {
        height: 30px;
    }
    p {
        margin: 40px 0 50px;
    }
}
.login-content {
    margin-bottom: 80px;
}
.login-footer {}


/* Tablet */
@media only screen and (min-width: 768px) {
    login {
        background-image: url('./img/login_background_tablet.png');

        display: flex;
        align-items: center;
        padding: 50px 290px 135px 50px;
    }

    .login-header {
        width: 350px;
        img {
            height: 60px;
        }
    }
    .login-content {
        width: 350px;
    }
    .login-footer {
        width: 350px;
    }
}