<div class="login-header">
    <img src="./logo/logo.svg" alt="">
    <p>Entrez votre identifiant et votre mot de passe</p>
</div>
<div class="login-content">
    <form action="">
        <input class="primary-field" type="email" placeholder="email">
        <input class="primary-field" type="password" placeholder="password">
    </form>
</div>
<div class="login-footer">
    <button 
        class="primary-button"
        ng-click="$ctrl.login()"
    >S'identifier</button>
</div>