.primary-button {
    width: 100%;
    padding: 15px;
    background-color: #ee3e53;
    border-radius: 3px;
    border: solid 2px #ee3e53;
    text-transform: uppercase;

    font-size: 12px;
    letter-spacing: 0.1px;
    color: #fff;
}

.primary-button__empty {
    background-color: transparent;
    color: #ee3e53;
}

.secondary-button {
    display: flex;
    width: 100px;
    height: 100%;
    background-color: #ee3e53;
    border: none;
}

.tertiary-button {
    height: 30px;
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: solid 1px #c6c9cc;
    i {
        font-size: 15px;
        color: #ed394e;
    }
    i:before {
        margin: 0;
        padding: 0;
    }

    &:active {
        background: #c6c9cc;
        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.53);
    }
}
.tertiary-button + .tertiary-button {
    margin-left: 15px;
}