.primary-field {
    background: transparent;
    outline: none;
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #ee3e53;
    border-radius: 0;

    font-size: 14px;
    color: #fff;

    &::-webkit-input-placeholder {
        color: #fff;
        font-style:italic;
    }
    &::-moz-placeholder {
        color: #fff;
        font-style:italic;
    }
    &:-ms-input-placeholder {
        color: #fff;
        font-style:italic;
    }
}