html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000;
    
    font-family: Lato;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #999999;
}

a {
  color: inherit;
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
    outline: 0;
  }
}
p {
  margin: 0;
}
h1 {
  margin: 0;
  font-weight: normal;
}
h2 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
button {
    border: none;
}
button:focus {
    outline: none;
}