.splashscreen {
    height: 100%;
    width: 100%;
    background-image: url('./img/splashscreen_background.png');
    background-size: cover;
    background-color: rgba(18, 30, 46, 0.95);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.splashscreen .logo {
    height: 30px;
    width: 100%;
    background-image: url('./logo/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .splashscreen {
        background-image: url('./img/splashscreen_background_tablet.png');
    }

    .splashscreen .logo {
        height: 60px;
    }
}

