@import './_reset.scss';
@import './_mobilize.scss';
@import './_font.scss';
@import './_splashscreen.scss';
@import './components/_button.scss';
@import './components/_field.scss';

ng-transclude {
  display: block;
  & > * {
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
  }
}

ui-view {
    display: block;
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    & > * {
      opacity: 1;
    }

    z-index: 2;
    & + & {
      z-index: 1;
    }
}

.page {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  overflow: hidden;

  &.active {
    display: block;
    z-index: 1;
  }
}